<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Lecture">
  
  <select id="selectByDynamic" resultType="com.uni.education.vo.LectureVO">
    SELECT * FROM lectures
    <where>
    	<if test="lid != null and lid != ''">lid = #{lid}</if>
		<if test="lname != null and lname != ''"> AND lname = #{lname}</if>
		<if test="YMD_STD != null and YMD_STD != '' and YMD_END != null and YMD_END != ''"> AND (YMD_STD between #{YMD_STD} and #{YMD_END} or YMD_END between #{YMD_STD} and #{YMD_END})</if>
		<if test="times != null and times != ''"> AND times = #{times}</if>
		<if test="days != null and days != ''"> AND days = #{days}</if>
		<if test="hours != null and hours != ''"> AND hours = #{hours}</if>
		<if test="place != null and place != ''"> AND place = #{place}</if>
		<if test="target != null and target != ''"> AND target = #{target}</if>
		<if test="teacherID != null and teacherID != ''"> AND teacherID = #{teacherID}</if>
		<if test="credit != 0"> AND credit = #{credit}</if>
		<if test="ltype != null and ltype != ''"> AND ltype = #{ltype}</if>
		<if test="institution != null and institution != ''"> AND institution = #{institution}</if>
		<if test="curriculum != null and curriculum != ''"> AND curriculum = #{curriculum}</if>
		<if test="approval != null and approval != ''"> AND approval = #{approval}</if>
    </where>
  </select>
  
  <update id="updateDynamic" parameterType="com.uni.education.vo.LectureVO">
    UPDATE lectures
    <set>
    	<if test="lname != null"> lname = #{lname},</if>
		<if test="YMD_STD != null"> YMD_STD = #{YMD_STD},</if>
		<if test="YMD_END != null"> YMD_END = #{YMD_END},</if>
		<if test="times != null"> times = #{times},</if>
		<if test="days != null"> days = #{days},</if>
		<if test="hours != null"> hours = #{hours},</if>
		<if test="place != null"> place = #{place},</if>
		<if test="target != null"> target = #{target},</if>
		<if test="teacherID != null"> teacherID = #{teacherID},</if>
		<if test="credit != 0"> credit = #{credit},</if>
		<if test="ltype != null"> ltype = #{ltype},</if>
		<if test="institution != null"> institution = #{institution},</if>
		<if test="curriculum != null"> curriculum = #{curriculum},</if>
		<if test="approval != null"> approval = #{approval}</if>
    </set>
    WHERE lid = #{lid}
  </update>
  
  <insert id="insertDynamic" parameterType="com.uni.education.vo.LectureVO">
  	INSERT INTO lectures (lid
  		<if test="lname != null"> ,lname</if>
  		<if test="YMD_STD != null"> ,YMD_STD</if>
		<if test="YMD_END != null"> ,YMD_END</if>
		<if test="times != null"> ,times</if>
		<if test="days != null"> ,days</if>
		<if test="hours != null"> ,hours</if>
		<if test="place != null"> ,place</if>
		<if test="target != null"> ,target</if>
		<if test="teacherID != null"> ,teacherID </if>
		<if test="credit != 0"> ,credit</if>
		<if test="ltype != null"> ,ltype</if>
		<if test="institution != null"> ,institution</if>
		<if test="curriculum != null"> ,curriculum</if>
		<if test="approval != null"> ,approval</if>
  	) VALUES ( #{lid}
  		<if test="lname != null"> ,#{lname}</if>
  		<if test="YMD_STD != null"> ,#{YMD_STD}</if>
		<if test="YMD_END != null"> ,#{YMD_END}</if>
		<if test="times != null"> ,#{times}</if>
		<if test="days != null"> ,#{days}</if>
		<if test="hours != null"> ,#{hours}</if>
		<if test="place != null"> ,#{place}</if>
		<if test="target != null"> ,#{target}</if>
		<if test="teacherID != null"> ,#{teacherID }</if>
		<if test="credit != 0"> ,#{credit}</if>
		<if test="ltype != null"> ,#{ltype}</if>
		<if test="institution != null"> ,#{institution}</if>
		<if test="curriculum != null"> ,#{curriculum}</if>
		<if test="approval != null"> ,#{approval}</if>
  	)
  </insert>
  
</mapper>
