<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Users">
  <select id="selectAllUsers" resultType="com.uni.education.vo.UserVO">
    select * from users
  </select>
  
  <select id="selectByDynamic" resultType="com.uni.education.vo.UserVO">
    select * from users
    <where>
    	<if test="uid != null">uid = #{uid}</if>
    	<if test="pw != null">AND pw = #{pw}</if>
    	<if test="uname != null">AND uname = #{uname}</if>
    	<if test="utype != null">AND utype = #{utype}</if>
    	<if test="team != null">AND team = #{team}</if>
    	<if test="rank != null">AND rank = #{rank}</if>
    	<if test="teacher != null">AND teacher = #{teacher}</if>
    	<if test="admin != null">AND admin = #{admin}</if>
    </where>
  </select>

	<update id="updateByDynamic" parameterType="com.uni.education.vo.UserVO">
		UPDATE users
		<set>
			<if test="pw != null"> pw = #{pw}</if>
			<if test="uname != null">, uname = #{uname}</if>
			<if test="utype != null">, utype = #{utype}</if>
			<if test="team != null">, team = #{team}</if>
			<if test="rank != null">, rank = #{rank}</if>
			<if test="teacher != null">, teacher = #{teacher}</if>
			<if test="admin != null">, admin = #{admin}</if>
		</set>
		WHERE uid = #{uid}
	</update>
  
  <insert id="insertDynamic" parameterType="com.uni.education.vo.UserVO">
  	INSERT INTO users (uid
  		<if test="pw != null">,pw</if>
    	<if test="uname != null">,uname</if>
    	<if test="utype != null">,utype</if>
    	<if test="team != null">,team</if>
    	<if test="rank != null">,rank</if>
    	<if test="teacher != null">,teacher</if>
    	<if test="admin != null">,admin</if>
  	) VALUES ( #{uid}
  		<if test="pw != null">,#{pw}</if>
    	<if test="uname != null">,#{uname}</if>
    	<if test="utype != null">,#{utype}</if>
    	<if test="team != null">,#{team}</if>
    	<if test="rank != null">,#{rank}</if>
    	<if test="teacher != null">,#{teacher}</if>
    	<if test="admin != null">,#{admin}</if>
  	)
  </insert>
</mapper>
