<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- DB정보 파일을 로드 -->
	
	<properties resource="cubrid.properties" />
	
	<environments default="development">
    	<environment id="development">
      		<transactionManager type="JDBC"/>
      		<dataSource type="POOLED">
		        <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
		      </dataSource>
	    </environment>
	</environments>
	 
	<!-- Mapper 설정 -->
  	<mappers>
    	<!-- <mapper resource="com/minsub/mybatis/mybatis-mapper.xml"/> -->
    	<!-- <mapper class="com.minsub.mybatis.AnnotationMapper" /> -->
    	<mapper resource="com/uni/education/mapper/LectureUser-mapper.xml"/>
    	<mapper resource="com/uni/education/mapper/Lecture-mapper.xml"/>
    	<mapper resource="com/uni/education/mapper/Users-mapper.xml"/>
    	<package name="com.uni.education.mapper"/>
  	</mappers>
</configuration>